In [1]:
# Read data from 
import pandas as pd
binary= pd.read_csv('http://dni-institute.in/blogs/wp-content/uploads/2017/07/dt_data.csv')

In [2]:
# Columns
binary.dtypes.index
# Drop a column
binary.drop('Unnamed: 3', axis=1, inplace=True)
# Target Variable to be made {-1, 1}
binary.Spend_Drop_over50pct.replace([0, 1], ['A', 'B'], inplace=True)

# Print a few rows
binary.head()

# Count Target Variable Values
binary.Spend_Drop_over50pct.value_counts()
# Find % Values of Target Variable Levels
round(binary.Spend_Drop_over50pct.value_counts()*100/len(binary.axes[0]),2)

A    73.68
B    26.32
Name: Spend_Drop_over50pct, dtype: float64

In [9]:
# Split sample into Train and Test
from sklearn.cross_validation import train_test_split
Train,Test = train_test_split(binary, test_size = 0.3, random_state = 176)
# Print a few rows
Train.head()

c:\users\mahafuz\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Card_Cust_ID</th>
      <th>Gender</th>
      <th>Education_level</th>
      <th>Last_Month_spend</th>
      <th>Last_3m_avg_spend</th>
      <th>Spend_Drop_over50pct</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>34</th>
      <td>1000037</td>
      <td>M</td>
      <td>Graduate</td>
      <td>20</td>
      <td>30</td>
      <td>B</td>
    </tr>
    <tr>
      <th>335</th>
      <td>1000361</td>
      <td>M</td>
      <td>University</td>
      <td>790</td>
      <td>780</td>
      <td>A</td>
    </tr>
    <tr>
      <th>439</th>
      <td>1011077</td>
      <td>M</td>
      <td>High School</td>
      <td>1190</td>
      <td>1190</td>
      <td>A</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000005</td>
      <td>M</td>
      <td>University</td>
      <td>750</td>
      <td>480</td>
      <td>A</td>
    </tr>
    <tr>
      <th>169</th>
      <td>1000183</td>
      <td>M</td>
      <td>University</td>
      <td>460</td>
      <td>400</td>
      <td>B</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
# Keep Target and Independent Variable into different array
Train_IndepentVars = Train.values[:, 3:5]
Train_TargetVar = Train.values[:,5]
#pd.DataFrame(Train_TargetVar).head()

array([[20, 30],
       [790, 780],
       [1190, 1190],
       [750, 480],
       [460, 400],
       [20, 380],
       [200, 70],
       [190, 120],
       [1090, 1080],
       [100, 170],
       [920, 930],
       [620, 750],
       [1140, 1140],
       [150, 190],
       [760, 610],
       [750, 410],
       [820, 830],
       [80, 100],
       [530, 490],
       [990, 1020],
       [860, 840],
       [550, 520],
       [280, 230],
       [730, 750],
       [630, 560],
       [520, 470],
       [920, 890],
       [830, 800],
       [430, 410],
       [130, 160],
       [660, 620],
       [570, 330],
       [280, 210],
       [340, 190],
       [860, 850],
       [690, 650],
       [700, 770],
       [190, 90],
       [920, 910],
       [180, 120],
       [90, 70],
       [780, 790],
       [1110, 1130],
       [630, 600],
       [830, 820],
       [310, 230],
       [50, 180],
       [130, 50],
       [1170, 1170],
       [440, 380],
       [800, 830],
       [320, 590],
       [580, 560],
       [80, 10],
       [110, 40],
       [220, 350],
       [190, 250],
       [510, 450],
       [980, 990],
       [1090, 1090],
       [250, 200],
       [870, 870],
       [730, 790],
       [800, 620],
       [970, 640],
       [1170, 1180],
       [920, 900],
       [800, 780],
       [550, 510],
       [980, 940],
       [890, 880],
       [930, 910],
       [500, 460],
       [990, 1050],
       [380, 420],
       [210, 220],
       [650, 600],
       [900, 880],
       [170, 90],
       [150, 260],
       [370, 300],
       [810, 770],
       [1080, 930],
       [1120, 1150],
       [360, 330],
       [1160, 1150],
       [1010, 1010],
       [830, 830],
       [270, 170],
       [810, 790],
       [570, 540],
       [1160, 1140],
       [740, 750],
       [530, 500],
       [570, 540],
       [730, 740],
       [260, 300],
       [1170, 1170],
       [830, 820],
       [550, 610],
       [810, 780],
       [50, 160],
       [1190, 1200],
       [190, 110],
       [600, 550],
       [140, 50],
       [470, 410],
       [120, 90],
       [540, 920],
       [1070, 1060],
       [1060, 1060],
       [1100, 1080],
       [1180, 1180],
       [780, 880],
       [840, 810],
       [160, 50],
       [280, 260],
       [380, 710],
       [460, 430],
       [850, 990],
       [540, 660],
       [600, 440],
       [1110, 1100],
       [870, 850],
       [70, 270],
       [1040, 980],
       [230, 340],
       [480, 420],
       [510, 600],
       [880, 900],
       [380, 390],
       [1130, 1120],
       [890, 860],
       [170, 140],
       [570, 770],
       [890, 860],
       [910, 900],
       [520, 520],
       [700, 680],
       [340, 300],
       [670, 510],
       [140, 60],
       [370, 320],
       [1130, 1110],
       [770, 760],
       [400, 360],
       [220, 220],
       [150, 80],
       [680, 670],
       [1100, 1110],
       [270, 190],
       [770, 720],
       [80, 80],
       [360, 290],
       [960, 940],
       [140, 90],
       [160, 160],
       [430, 380],
       [590, 560],
       [600, 570],
       [850, 830],
       [490, 310],
       [470, 530],
       [1050, 1040],
       [770, 1050],
       [1080, 1070],
       [330, 260],
       [360, 320],
       [1120, 1110],
       [200, 150],
       [230, 130],
       [1010, 1000],
       [1140, 1160],
       [390, 360],
       [1060, 1060],
       [40, 450],
       [500, 690],
       [710, 640],
       [120, 40],
       [530, 510],
       [300, 210],
       [850, 700],
       [620, 590],
       [420, 360],
       [290, 300],
       [250, 100],
       [40, 580],
       [390, 430],
       [1040, 1030],
       [950, 930],
       [710, 490],
       [330, 200],
       [170, 60],
       [510, 460],
       [640, 610],
       [1100, 1090],
       [1000, 1000],
       [210, 110],
       [410, 390],
       [670, 640],
       [300, 240],
       [1000, 1130],
       [410, 350],
       [1030, 1010],
       [760, 720],
       [880, 920],
       [930, 960],
       [390, 380],
       [490, 480],
       [130, 60],
       [30, 170],
       [820, 850],
       [480, 650],
       [160, 150],
       [1180, 1180],
       [440, 380],
       [740, 740],
       [20, 540],
       [1010, 1050],
       [1010, 1050],
       [560, 490],
       [100, 20],
       [60, 580],
       [1180, 1170],
       [90, 180],
       [110, 70],
       [1170, 1170],
       [1020, 990],
       [630, 860],
       [330, 330],
       [310, 230],
       [350, 270],
       [1070, 1120],
       [330, 220],
       [900, 900],
       [340, 240],
       [650, 600],
       [550, 510],
       [260, 490],
       [860, 840],
       [940, 950],
       [490, 620],
       [670, 690],
       [100, 10],
       [1110, 1090],
       [870, 870],
       [850, 850],
       [780, 780],
       [940, 960],
       [850, 800],
       [1130, 1130],
       [440, 430],
       [120, 150],
       [70, 630],
       [710, 700],
       [1080, 1070],
       [690, 680],
       [560, 530],
       [790, 780],
       [20, 270],
       [1050, 1030],
       [720, 730],
       [700, 700],
       [220, 150],
       [1130, 1130],
       [910, 900],
       [520, 500],
       [310, 340],
       [530, 490],
       [280, 310],
       [300, 300],
       [1150, 1140],
       [1150, 1180],
       [1030, 990],
       [930, 890],
       [960, 960],
       [40, 130],
       [860, 840],
       [50, 500],
       [1130, 1120],
       [230, 210],
       [470, 470],
       [450, 730],
       [640, 380],
       [1190, 1190],
       [1180, 1190],
       [760, 740],
       [60, 20],
       [690, 660],
       [1100, 1100],
       [230, 180],
       [990, 990],
       [400, 340],
       [1050, 1030],
       [720, 650],
       [580, 520],
       [820, 800],
       [1040, 1030],
       [20, 110],
       [450, 400],
       [1150, 1150],
       [10, 280],
       [600, 570],
       [260, 210],
       [960, 950],
       [1170, 1150],
       [560, 500],
       [720, 680],
       [450, 410],
       [840, 820],
       [460, 270],
       [1050, 1040],
       [90, 10],
       [620, 330],
       [760, 820],
       [610, 570],
       [970, 940],
       [1070, 1070],
       [350, 350],
       [750, 740],
       [820, 800],
       [1160, 1160],
       [380, 220],
       [880, 860],
       [290, 320],
       [70, 20],
       [90, 140],
       [960, 950],
       [590, 530],
       [340, 280],
       [590, 430],
       [1070, 1070]], dtype=object)

In [46]:
# Load library
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
# Building Decision Tree - CART Algorithm (gini criteria)
dt_train_gini = DecisionTreeClassifier()
# Train
dt_train_gini.fit(Train_IndepentVars, Train_TargetVar)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
feature = ['lAST month','3 months']
feature

['lAST month', '3 months']

In [48]:
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import graphviz
#feature  = list(binary.colums)
dot_data = tree.export_graphviz(dt_train_gini, out_file=None, 
                      feature_names=feature,  
                      class_names='Hello/',  
                      filled=True, rounded=True,  
                      special_characters=True)

In [49]:
graph = graphviz.Source(dot_data)

In [50]:
graph.render("xyzw",'D:/ml')

'D:/ml\\xyzw.pdf'